.mountains-wrap {
  min-height: 500px;
  position: relative;
  overflow: hidden;
  background: $black;
}

#mountains {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #D5D5D5;
}

.benefit {
  text-align: center;
  padding: 0 5px;

  &:nth-child(2) {
    width: 15%;
  }

  &-list {
    display: flex;
    width: 53%;
    margin: 90px auto;
    position: relative;
    z-index: 10;
  }

  &__name {
    color: $red;
    text-transform: uppercase;
    font: 1.92vmin $mainFont_medium;
    letter-spacing: 3px;
  }

  &__top {
    height: 175px;
    position: relative;
    transition: .5s linear;
    opacity: 0;
  }

  &__content {
    font: 12px $mainFont_light;
    color: #fff;
    position: relative;
    padding-top: 30px;
    margin-top: 140px;

    &:before {
      content: '';
      position: absolute;
      left: 50%;
      margin-left: -0.5px;
      width: 1px;
      top: -123px;
      height: 0;
      transition: 1.2s height linear;
      border-left: 1px dotted $grey;
    }

    &_hide {
      opacity: 0;
      transition: 1.5s opacity linear;
    }
  }

  &:nth-child(1) {
    width: 18%;

    .benefit__content:before {
      transition-delay: 1.7s;
    }

    .benefit__content:before {
      transition-delay: 1.7s;
    }

    .benefit__content_hide {
      transition-delay: 3s;
    }
  }

  &:nth-child(2) {
    width: 14%;

    .benefit__top {
      transition-delay: .3s;
    }

    .benefit__content:before {
      transition-delay: 2s;
    }

    .benefit__content_hide {
      transition-delay: 3.3s;
    }
  }

  &:nth-child(3) {
    width: 24%;

    .benefit__top {
      transition-delay: .6s;
    }

    .benefit__content:before {
      transition-delay: 2.3s;
    }

    .benefit__content_hide {
      transition-delay: 3.6s;
    }
  }

  &:nth-child(4) {
    width: 20%;
    margin-left: 5%;

    .benefit__top {
      transition-delay: .9s;
    }

    .benefit__content:before {
      transition-delay: 2.6s;
    }

    .benefit__content_hide {
      transition-delay: 3.9s;
    }
  }

  &:nth-child(5) {
    width: 19%;

    .benefit__top {
      transition-delay: 1.2s;
    }

    .benefit__content:before {
      transition-delay: 2.9s;
    }

    .benefit__content_hide {
      transition-delay: 4.2s;
    }
  }

  &__icon {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) scale(0.8);
  }
}

.benefits {
  background: $grey;
  padding-bottom: 0;

  &.done {
    .benefit__top {
      opacity: 1;
    }

    .benefit__content:before {
      height: 123px;
    }

    .benefit__content_hide {
      opacity: 1;
    }
  }
}

@media all and (max-width: 1200px) {
  .benefit {
    &__icon {
      transform: translateX(-50%) scale(0.6);
    }
  }
}

@media all and (max-width: 991px) {
  #mountains {
    display: none;
  }

  .mountains-wrap {
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 420px;
      background: #d5d5d5;
      background-image: url('../images/bg-useful2.png');
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
  }

  .benefit {
    &__top {
      height: 135px;
    }

    &__content {
      margin-top: 90px;
      padding-top: 15px;

      &_hide {
        opacity: 0;
      }
    }

    &-list {
      padding: 0 3%;
      width: 100%;
    }

    &:nth-child(1) {
      width: 20%;
    }

    &:nth-child(2) {
      width: 20%;
    }

    &:nth-child(3) {
      width: 20%;
      margin-left: 0;
    }

    &:nth-child(4) {
      width: 20%;
      margin-left: 0;
    }

    &:nth-child(5) {
      width: 20%;
    }
  }

  .benefits {
    &.done {
      .benefit {
        &__content:before {
          height: 90px;
          top: -90px;
        }

        &:nth-child(2) {
          .benefit__top {
            height: 140px;
          }

          .benefit__content {
            margin-top: 140px;

            &:before {
              height: 140px;
              top: -140px;
            }
          }
        }

        &:nth-child(3) {
          .benefit__top {
            height: 154px;
          }

          .benefit__content {
            margin-top: 77px;

            &:before {
              height: 77px;
              top: -77px;
            }
          }
        }

        &:nth-child(4) {
          .benefit__content {
            margin-top: 150px;

            &:before {
              height: 150px;
              top: -150px;
            }
          }
        }
      }
    }
  }

  .benefit {
    &__name {
      font-size: 2.2vmin;
    }
  }

  .mountains {
    &-wrap:before {
      height: 362px;
    }
  }
}

@media all and (max-width: 500px) {
  .mountains-wrap {
    background: #0B0B0B;

    &:before {
      background-image: url("../images/bg-useful3.png");
      background-size: 100% 100%;
      height: 160px;
    }
  }

  .benefit {
    width: 100%!important;
    text-align: left;
    margin-top: 35px;

    &-list {
      display: block;
      margin-top: 110px;
    }

    &__top {
      height: inherit!important;
      padding-left: 55px;
      opacity: 1;
    }

    &__icon {
      transform: scale(0.6);
      left: 0;
      top: 0;
    }

    &__content {
      margin-top: 2vmin!important;
      padding: 0 0 0 55px;

      &::before {
        display: none;
      }

      &_hide {
        opacity: 1;
      }
    }

    &__name {
      font-size: 4.2vmin;
    }
  }
}