.blogs {
  &-list {
    margin: 0 auto;
    width: 630px;
  }
}

.blog {
  padding: 75px 0;

  &-item {
    width: 46%;
    float: left;
    border: 1px solid #d8d8d8;
    margin: 75px 4% 0;

    &:nth-child(1),
    &:nth-child(2n + 1) {
      margin-left: 0;
    }

    &:nth-child(2n) {
      margin-right: 0;
    }
    
    &__content {
      padding: 20px;
    }

    &__name {
      color: $darkGrey;
      font: 15px $mainFont_reg;
      height: 80px;
      letter-spacing: .5vmin;
    }

    &__desc {
      font: 14px $mainFont_medium;
      color: #000;
      margin-top: 20px;
      height: 40px;
    }

    &__img {
      overflow: hidden;

      img {
        transition: all .5s linear;
        width: 100%;
        display: block;
      }
    }

    &__btn {
      margin-top: 20px;
      color: $red;
      font-size: 12px;
      padding: 9px 20px;
      text-transform: uppercase;
    }

    &:hover {
      img {
        transform: scale(1.5);
      }
    }
  }
}

@media all and (max-width: 767px) {
  .blogs {
    &-list {
      width: 100%;
    }
  }

  .blog-item {
    float: none;
    width: 350px;
    margin-left: auto!important;
    margin-right: auto!important;
  }
}

@media all and (max-width: 400px) {
  .blog-item {
    width: 100%;
    
    .align-right {
      text-align: center;
    }
  }
}