.causes {
  background: url('../images/workforyou.jpg') center;
  background-size: cover;
  padding: 90px 0;

  &-list {
    margin: 140px auto 90px;
  }
}

.cause {
  width: 50%;
  float: left;
  text-align: center;

  &__title {
    color: $red;
    font: 4.9vmin $mainFont_light;
  }

  &__content {
    color: $darkGrey;
    font: 1.5vmin $mainFont_reg;
    margin-top: 40px;
  }
}

@media all and (max-width: 768px) {
  .cause {
    float: none;
    max-width: 350px;
    width: 100%;
    margin: 120px auto 0;

    &__title {
      font-size: 9.5vmin;
    }

    &__content {
      font-size: 2.5vmin;
    }
  }
}