@import 'fonts';
@import 'vars';

html, 
body {
width: 100%;
height: 100%;
font: 16px roboto, sans-serif;}

* {
padding: 0;
margin: 0;
outline: none;
-moz-user-select: text;
-webkit-user-select: text;
box-sizing: border-box;
-moz-box-sizing: border-box; 
backface-visibility: hidden!important;
-webkit-backface-visibility: hidden!important;}

a {
    text-decoration: none;
}

.text-accent {
    color: $red;
}

.container {
    padding: 0 55px;
}

.sec {
    padding: 60px 0 0 0;

    &__title {
        text-align: center;
        text-transform: uppercase;
        letter-spacing: .9vw;
        color: #303030;

        &_md {
            font: 2.5vmin $mainFont_bold;
            letter-spacing: .9vmin;
        }
        
        &_lg {
            position: relative;
            font: 7.3vmin $mainFont_light;
            margin-top: 1.4vh;
            padding: 0 27%;

            &::before,
            &::after {
                content: '';
                height: 1px;
                width: 32%;
                position: absolute;
                top: 50%;
                margin-top: -0.5px;
                background: $red;
            }

            &::before {
                left: 0;
            }

            &::after {
                right: 0;
            }
        }
    }
}

.icon {
    @include icons;
    display: inline-block;

    &_cloud {
        width: 51px;
        height: 41px;
        background-position: 0;
    }

    &_cloud {
        width: 51px;
        height: 41px;
        background-position: 0 0;
    }

    &_basket {
        width: 51px;
        height: 41px;
        background-position: -58px 0;
    }

    &_star {
        width: 41px;
        height: 41px;
        background-position: -118px 0;
    }

    &_landing {
        width: 61px;
        height: 44px;
        background-position: -173px 0;
    }

    &_corporate {
        width: 46px;
        height: 42px;
        background-position: -250px 0;
    }

    &_fb {
        width: 15px;
        height: 27px;
        background-position: -70px -73px;
    }

    &_inst {
        width: 22px;
        height: 25px;
        background-position: -101px -74px;
    }
}

.btn {
    display: inline-block;
    background: transparent;

    &_default {
        border: 1px solid $red;
        padding: 10px 34px;
        font: 18px $mainFont_medium;
    }

    &_lg {
        padding: 16px 36px;
    }

    &_anim {
        position: relative;
        overflow: hidden;
        transition: color .5s;
        z-index: 1;

        &::before {
            content: '';
            position: absolute;
            left: -25%;
            width: 150%;
            top: 0;
            height: 100%;
            opacity: 0;
            z-index: -1;
            transform-origin: top left;
            transition: all .5s;
            background: $red;
            transform: rotate(-45deg) translate(0, -100%);
        }

        &:hover {
            color: #fff;
        }

        &:hover::before {
            opacity: 1;
            transform: rotate(0) translate(0, 0);
        }
    }
}

.align {
    &-center {
        text-align: center;
    }

    &-right {
        text-align: right;
    }
}

li {
    list-style-type: none;
}

.text-table {
    &__row {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        position: relative;
        padding-bottom: 1.65vh;

        &::after {
            content: '';
            position: absolute;
            left: 10%;
            bottom: 0;
            width: 80%;
            height: 1px;
            background: $whiteGrey;
        }
    }
}

.title {
    font: 16px $mainFont;
    text-transform: uppercase;
    text-align: center;
}

.clearfix {
    &::after {
        content: '';
        clear: both;
        display: block;
    }
}

.wrap {
    width: 1240px;
    margin: 0 auto;

    &_sm {
        width: 862px;
        padding: 0 21px;
    }

    &_md {
        width: 1071px;
        padding: 0 21px;
    }
}

.flex {
    display: flex;
}

@media all and (max-width: 1300px) {
    .wrap {
        width: 100%;
    }
}

@media all and (max-width: 991px) {
    .sec__title_lg::before, .sec__title_lg::after {
        width: 17.2vw;
    }

    .sec__title_lg {
        font-size: 7.3vmin;
        padding: 0 17.2vw;
    }
}

@media all and (max-width: 768px) {
    .sec__title_lg {
        font-size: 5vw;
    }
   
    .container {
        padding: 0 20px;
    }
}

@media all and (max-width: 320px) {
    .sec__title_lg::before, .sec__title_lg::after {
        display: none;
    }

    .sec__title_lg {
        padding: 0;
    }

    .contacts__title {
        text-align: left;
        padding-left: 10px;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            background: $red;
            width: 1px;
            height: 100%;
        }
    }

    .container {
        padding: 0 20px;
    }
}