
.decision {
  padding: 0;
  width: 100%;
  overflow: hidden;

  &__container {
    background: $black;
    padding-top: 60px;
  }

  &__slide_hide {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
  }

  &__slide_show {
    z-index: 99;
    opacity: 1;
    position: relative;
  }

  &__title {
    color: #fff;
  }

  .sec__title_lg {
    &::before {
      background: linear-gradient(to right, #de4540 66%, #131313 88%);
    }
  }

  .sec__title_lg::after {
    background: linear-gradient(to right, #131313 12%, #de4540 34%);
  }

  &__slide_star {
    background-image: url('../images/sec3-bg.png');
    background-position: center bottom;
    background-size: cover;
    background-color: $black;
    overflow: visible;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
    overflow: hidden;
  }

  &-svg-hide {
    position: absolute;
    top: 0;
    left: 0;
    width: 200vw;
    height: 200vh;
    transform: translate(-25%, -25%);

    svg {
      height: 100%;
      width: 100%;
      transform: scale(0);
      transform-origin: center;
    }
  }

  &__dots {
    position: absolute;
    transform-origin: center;
    transition: all .5s;

    &_left {
      left: -30.4vmin;
      bottom: 0;
      width: 78.9vmin;
      height: 79.2vmin;
      background-image: url(../images/dots-left.png);
    }

    &_right {
      top: 38%;
      right: 10%;
      width: 20.3vmin;
      height: 19.2vmin;
      background-image: url(../images/dots-right.png);
    }
  }
}

.tasks-wrap {
    position: absolute;
    height: 55%;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    width: 86vmin;
}

.task {
  color: #fff;
  font: 1.5vmin $mainFont_bold;
  position: absolute;
  text-transform: uppercase;
  text-align: center;

  &:nth-child(1) {
    left: 50%;
    top: 0;
    transform: translate(-50%, -120%);
  }

  &:nth-child(2) {
    right: 7%;
    top: 26%;
  }

  &:nth-child(3) {
    right: 17%;
    bottom: 0;
  }

  &:nth-child(4) {
    left: 18%;
    bottom: 0;
  }

  &:nth-child(5) {
    top: 26%;
    left: 0;
  }

  &_center {
    color: $red;
    font: 2.5vmin $mainFont_medium;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &-svg {
    svg {
      width: 100%!important;
    height: 100%!important;
    position: absolute;
    }
  }
}

.mh {
  max-height: 0!important;
  overflow: hidden!important;
  padding: 0!important;
}

.wrap-dots-bg {
  position: absolute;
  left: 0;
  top: 20vmin;
  width: 100%;
  height: calc(100% - 20vmin);
  overflow: hidden;
  background: transparent;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    background-image: url('../images/border-dots.png');
  }
}

@media all and (max-width: 768px) {
  .decision__dots_left,
  .decision__dots_right {
    display: none;
  }
}

@media all and (max-width: 500px) {
  .decision__slide_star,
  .decision__container {
    background: #0B0B0B;
  }
}

@media all and (max-width: 450px) {
  .task {
    &:nth-child(2) {
        right: 0%;
        top: 30%;
    }

    &:nth-child(5) {
        left: 0;
        top: 30%;
    }

    &__center {
      display: none;
    }
  }
}

@media all and (max-width: 320px) {
  .decision__slide_star {
    position: relative;
  }
}