.header {
  background: rgba(230,227,227,.95);
  color: $darkGrey;
  height: 4.9vmin;
  color: #fff;
  font: 14px $mainFont;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 998;
  box-shadow: 0 3px 7.9px 1px rgba(0, 0, 0, .42);

  &__logo {
    position: absolute;
    font: 4vmin $font_decor;
    line-height: 5vmin;
    left: 6.6vmin;
    color: $red;
    left: 6vmin;
  }

  &-nav {
    &__list {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 4.9vmin;
    }
  
    &__item {
      display: inline-block;
      vertical-align: middle;
      margin: 0 1vw;
    }
  
    &__link {
      display: inline-block;
      white-space: nowrap;
      text-transform: uppercase;
      padding: 0 2.6vmin;
      position: relative;
      color: $darkGrey;
      font: 1.5vmin $mainFont_bold;
      opacity: .7;
      transition: all .5s;
      letter-spacing: .6vmin;

      &:before,
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        height: 1px;
        width: 0;
        margin-top: -.5px;
        background: $darkGrey;
        transition: all .5s;
      }

      &:before {
        left: 0;
      }

      &:after {
        right: 0;
      }
  
      &.active, &:hover {
        opacity: 1;
        color: $red;

        &:before,
        &:after {
          width: 1.6vmin;
        }
  
        &:before {
          left: 0;
        }
  
        &:after {
          right: 0;
        }
      }
    }
  }

  &__phone {
    font: 1.7vmin $mainFont_bold;
    position: absolute;
    right: 6vmin;
    top: 0;
    line-height: 4.9vmin;
    letter-spacing: .4vmin;
    color: $red;
  }
}

@media all and (max-width: 991px) {
  .header {
    display: none;
  }
}