.top {
  height: 100vh;
  padding: 10.5vmin 6.5vmin 2.5vmin 6.5vmin;
  overflow: hidden;
  position: relative;

  &__content {
    position: relative;
    height: 100%;
    text-align: center;
    font-size: 0;

    &::before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      height: 100%;
    }
  }

  &__label {
    font: 2.3vmin $mainFont_medium;
    font-weight: normal;
    position: relative;
    padding-left: 25px;
    position: absolute;
    z-index: 4;
    text-align: left;
    letter-spacing: .5vmin;

    &_top {
      top: 0;
      left: 0;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 1px;
      background: $red;
    }

    &_bottom {
      bottom: 0;
      right: 0;
      padding-left: 0;
      padding-right: 25px;
      text-align: right;

      &::before {
        right: 0;
        left: inherit;
      }
    }
  }

  &-title {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 2;
    text-transform: uppercase;

    &__label {
      font: 11.9vw $font_decor;
      color: $red;
      letter-spacing: 5.7vmin;
      line-height: 1;
    }

    &__content {
      font: 1.9vmin $mainFont_medium;
      color: #000;
      text-align: left;
      letter-spacing: .3vmin;
      padding: 10px 0 0 20px;
    }
  }

  &-mountain {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 4.9vmin;

    &_back {
      background: url('../images/top_mountain_back.jpg');
      background-size: 100% 100%;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      z-index: 1;
      animation: moveToLeft 40s linear forwards;
    }

    &_front {
      background: url('../images/top_mountain_front.png');
      background-size: 100% 100%;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      z-index: 3;
      animation: moveToRight 40s linear forwards;
    }
  }
}

@keyframes moveToLeft {
	0% {
		transform: scale(1) translate(0%);
	}
	100% {
		transform: scale(1.2) translate(-3%);
	}
}

@keyframes moveToRight {
	0% {
		transform: scale(1) translate(0%);
	}
	100% {
		transform: scale(1.2) translate(3%);
	}
}


@media all and (max-width: 991px) {
  .top {
    padding: 6.5vmin 3.5vmin 6.5vmin 3.5vmin;
  }

  .top-mountain {
    top: 0;
  }
}

@media all and (max-width: 768px) {
  .top {
    &-title {
      &__label {
        font-size: 16.9vw;
      }

      &__content {
        padding-left: 0;
        font-size: 2.4vmin;
      }
    }
  }
}

@media all and (max-width: 320px) {
  .top {
    &-title {
      &__label {
        font-size: 18.8vw;
      }

      &__content {
        font-size: 3vmin;
      }
    }

    &-mountain {
      &_back {
        background-size: cover;
      }

      &_front {
        background-size: cover;
        background-position: 78% 52px;
      }
    }
  }
}

