.top {
  height: 100vh;
  padding: 115px 65px 65px 65px;
  overflow: hidden;
  position: relative;

  &__content {
    position: relative;
    height: 100%;
    text-align: center;
    font-size: 0;

    &::before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      height: 100%;
    }
  }

  &__label {
    font: 22px $mainFont_reg;
    font-weight: normal;
    position: relative;
    padding-left: 25px;
    position: absolute;
    z-index: 4;

    &_top {
      top: 0;
      left: 0;
    }

    &_bottom {
      bottom: 0;
      right: 0;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 3px;
      background: $red;
    }
  }

  &-title {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 2;
    text-transform: uppercase;

    &__label {
      font: 11.9vw $font_decor;
      color: $red;
      letter-spacing: 8vh;
      line-height: 1;
    }

    &__content {
      font: 18px $mainFont_medium;
      color: #000;
      text-align: left;
      padding: 10px 0 0 20px;
    }
  }

  &-mountain {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 4.9vmin;

    &_back {
      background: url('../images/top_mountain_back.jpg');
      background-size: 100% 100%;
      background-position: 50% 50%;
      z-index: 1;
      animation: moveToLeft 40s linear forwards;
    }

    &_front {
      background: url('../images/top_mountain_front.png');
      background-size: 100% 100%;
      background-position: 50% 50%;
      z-index: 3;
      animation: moveToRight 40s linear forwards;
    }
  }
}

@keyframes moveToLeft {
	0% {
		transform: scale(1) translate(0%);
	}
	100% {
		transform: scale(1.2) translate(-3%);
	}
}

@keyframes moveToRight {
	0% {
		transform: scale(1) translate(0%);
	}
	100% {
		transform: scale(1.2) translate(3%);
	}
}